body {
  font-family: montserrat;
  margin: 0px;
}

.left {
  float: left;
}
.right {
  float: right;
}
.center {
  float: center;
}

p {
  margin: 20px;
  text-align: justify;
}

h1 {
  font-size: 40px;
  line-height: 1em;
  letter-spacing: -0.2px;
  color: white;
  margin: 0px 320px 70px 30px;
  padding: 30px;
}

h2 {
  font-size: 70px;
  line-height: 1em;
  letter-spacing: -0.2px;
  color: black;
  margin-top: 1px;
  padding: 30px;
  text-align: center;
  max-width: 100%;
}

.project {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background: white;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 1rem;
  display: block;
}

.project-banner {
  max-width: 500%;
}

.project-imageContainer img {
  max-width: 100%;
}

.header {
  background-color: #007fa3;
  color: black;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 100;
  list-style: none;
}

figure {
  margin: 0;
}

figure.logo {
  display: grid;
  justify-items: center;
  padding-top: 10px;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-size: 1em;
}

.menu {
  height: inherit;
}

.event-imageContainer {
  max-width: 280px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.event-imageBanner {
  max-width: 600px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  margin-left: 10;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.Instagram {
  background-image: url("../images/instagram.png");
}

.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.footer {
  color: white;
  background-color: #007fa3;
  display: flex;
  align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer a {
  color: white;
}

@media screen and (max-width: 1023px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .project {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    font-size: 12px;
  }
  .event-detail {
    margin: -40px 10px 10px 10px;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}
@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.5);
  }
  .hero {
    padding: 2em 1em;
  }
}
